// Styling for the download section
section.examples {
    position: relative;
    padding: 150px 0;
    h2 {
        font-size: 50px;
        margin-top: 0;
    }

    .otras-invitaciones {
        h4 {
            margin-top: 30px;
        }
        .badges {
            .container-buttons {
                a {
                    background: $gray-darker;
                    margin-bottom: 15px;

                    &:hover{
                        color: $theme-primary;
                    }
                }
            }

        }
    }

    .badges {
        padding: 20px 0;
        .container-buttons {
            margin-bottom: 30px;
            
            a {
                color: $gray-lighter;
                background: $theme-secondary;
                margin-bottom: 15px;
            }
        }

        a:hover {
            color: $gray-darker;
            border: 1px solid $gray-darker;
            background: transparent;
        }

        .badge-link {
            display: block;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                height: 60px;
            }
            @media(min-width: 768px) {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }

    .item {
        display: flex;
        justify-content: center;

        .device-container {
            width: 200px;

            .screen {
                overflow-y: scroll;
                .img-fluid {
                    max-width: 100%;
                }
            }

            .btn {
                width: 196px;
                margin-top: 20px;
            }
        }
    }



    @media(min-width: 768px) {
        h2 {
            font-size: 70px;
        }
    }
}
