// Styling for the download section
section.examples {
    position: relative;
    padding: 150px 0;
    h2 {
        font-size: 50px;
        margin-top: 0;
    }

    .badges {
        padding: 20px 0;
        margin-top: 50px;
        .container-buttons {
            margin-bottom: 30px;
            
            a {
                color: $gray-lighter;
                background: $theme-secondary;
                margin-bottom: 15px;
                width: 100%;
            }
        }

        a:hover {
            color: $gray-darker;
            border: 1px solid $gray-darker;
            background: transparent;
        }

        .badge-link {
            display: block;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                height: 60px;
            }
            @media(min-width: 768px) {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }

    .item {
        display: flex;
        justify-content: center;

        &.quince img {
            width: 105%;
        }

        .device-container {
            @include scroll;
            width: 200px;

            .screen {
                overflow-y: scroll;
            }

            .btn {
                width: 196px;
                margin-top: 20px;
            }
        }
    }

    .otras-invitaciones {

        h4 {
            margin-top: 100px;
            margin-bottom: 100px;
        }

        .owl-others {
            //height: 350px;

            .owl-item {
                height: 180px;
            }

            .owl-prev, .owl-next {
                background: $theme-secondary !important;
                color: white;
                padding: 10px 20px !important;
                margin-left: 5px;
            }

            .item {
                //min-height: 300px;
                .card {
                    -webkit-box-shadow: 2px 3px 9px 1px rgba(73, 73, 73, 0.75);
                    -moz-box-shadow: 2px 3px 9px 1px rgba(75, 75, 75, 0.75);
                    box-shadow: 2px 3px 9px 1px rgba(65, 65, 65, 0.75);
                    border: 0;
                    color: white;

                    .img-header {
                        height: 150px;
                        background-size: cover !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &.recitales {
                            background:linear-gradient(rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url('./../img/otras-invitaciones/recitales.jpg');
                        }
                        &.eventos {
                            background:linear-gradient(rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url('./../img/otras-invitaciones/eventos.jpg');
                        }
                        &.cumples {
                            background:linear-gradient(rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url('./../img/otras-invitaciones/cumples.jpg');
                        }
                        &.comuniones {
                            background:linear-gradient(rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url('./../img/otras-invitaciones/comuniones.jpg');
                        }
                    }
                }
                
            }
        }
    }



    @media(min-width: 768px) {
        h2 {
            font-size: 70px;
        }
    }
}
