// Styling for the masthead
header.masthead {
    position: relative;
    height: 100vh;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;

    color: white;
    background: url('../img/bg-pattern.png'), $theme-secondary;
    background: url('../img/bg-pattern.png'), -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
    background: url('../img/bg-pattern.png'), linear-gradient(to left, $theme-secondary, $theme-tertiary);
    .header-content {
        max-width: 500px;
        margin-bottom: 100px;

        text-align: center;
        h1 {
            font-size: 30px;
        }
    }
    .device-container {
        max-width: 325px;
        margin-right: auto;
        margin-left: auto;
        @include scroll;
        .screen {
            overflow-y: scroll;
            top: 11% !important;

            img {
                border-radius: 3px;
                border: 0;
            }
            .img-fluid {
                max-width: 105%;
            }
        }
    }
    @media (max-width: 1392px) {
        .device-container {
            width: 230px;
        }
    }
    @media (max-width: 992px) { 
        height: initial;
        padding-top: 100px;
        padding-bottom: 50px;
    }
    /*de 992 para arriba*/
    @media (min-width: 992px) {
        padding-top: 20px;
        padding-bottom: 0;
        .header-content {
            margin-bottom: 0;

            text-align: left;
            h1 {
                font-size: 50px;
            }
        }
        .device-container {
            max-width: 325px;
        }
    }

    @media (max-width: 400px) {
        .flecha {
            left: 162px;
        }
        
        @keyframes row-animate{
            0%   {top: -70px;}
            50%  {top: -60px;}
            100%   {top: -70px;}
        }
    }
}