.nav-porque-invite {
    background-color: rgb(49, 49, 49) !important;
}


#porque-invite {
    text-align: center;
    color: white;
    background: url('../img/bg-pattern.png'), $theme-secondary;
    background: url('../img/bg-pattern.png'), -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
    background: url('../img/bg-pattern.png'), linear-gradient(to left, $theme-secondary, $theme-tertiary);
    h3 {
        padding-top: 140px; 
        padding-bottom: 30px;
    }

    p {
        padding-top: 80px;
        padding-bottom: 0px;
    }

    .arrow-down{
        width: 80px;
        position: relative;
        right: 80px;
        padding-bottom: 160px;
        transform: rotate(88deg);
        filter: invert(100%);
        animation:  row-animate 1s infinite ease-in-out;
    }
}

#features {

    h3 {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .title-sections {
        text-align: center;
        margin-bottom: 150px;
    }

    .container-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 250px 0;
        

        h4 {
            margin-bottom: 20px;
        }

        h4::after {
            display: block;
            height: 3px;
            content: '';
            background: $porque-invite;
            width: 20%;
            margin-top: 20px;
        }

        &.reverse {
            text-align: right;
            flex-direction: row-reverse;

            .item:last-child{
                margin-right: 20px;
            }

            .border-img{
                float: left;
            }

            img {
                &.recuerdo {
                    width: 250px;
                }
            }


            h4 {
                float: right;
                margin-bottom: 20px;
            
                &::after {
                    float: right;
                    display: block;
                    margin-top: 20px;
                    width: 80%;
                }
            }

            p{
                clear: both;
            }

        }

        .item {
            width: 40%;
            &:first-child{
                width: 40%;
            }

            .border-img {
                border: 1px solid rgb(212, 212, 212);
                padding: 10px;
                display: inline-block;
            }
        }

        .border-img {
            float: right;
        }

        img {
            float: right;
            width: 100%;
            object-fit: contain;

            &.confirmation {
                width: 200px;
            }
            
        }
    }

    @media (max-width:550px) {

        .separation {
            margin-bottom: 80px;
        }

        .title-sections {
            margin-bottom: 100px;
        }

        .container-data {
            text-align: center;
            flex-direction: column;
            align-items: center;
            margin: 0 0 100px 0;

            &.reverse {
                text-align: center;
                flex-direction: column;

                .item {
                    &:last-child{
                        margin: 0;
                    }
                                        
                }

            }

            .item {
                width: 100%;
                margin: 0;

                &:first-child{
                    width: 70%;
                }
    
                    
                h4 {
                    float: none;
                    margin-bottom: 20px;
                
                    &::after {
                        float: none;
                        width: 20%;
                        margin-top: 20px;
                    }
                }
            }

            img {
                float: right;
                width: 100%;
                object-fit: contain;
    
                &.confirmation {
                    width: 100%;
                }
                
            }
        }
    }
}